# Dependencies
node_modules/

# Build output
out/
dist/
build/

# OS files
.DS_Store
Thumbs.db

# Editor directories
.idea/
.vscode/
*.swp
*.swo

# Logs
logs/
*.log
npm-debug.log*

# Temporary files
tmp/
temp/
*.tmp

# Package files
*.zip
*.asar
